@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap');

:root {
    font-family: 'Inria Sans', sans-serif;
    
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}


#root {
    height: 100vh;  
    display: grid;
    grid-template-rows: 5rem auto;
}
