/* Login styles */

.login__container {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.1rem;
}

.login__form {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    align-items: center;
    padding: 2.5rem 3rem;

    border-radius: 27px;

    background-color: #D9D9D9;
}

.login__input_wrapper {
    min-width: 16rem; 
    display: flex;
    margin-top: .7rem;
    align-items: center;
    background: white;
    border-radius: 10px;
    gap: .5rem;
    transition: all .2s ease-in-out;
}

.login__input_wrapper:hover {
    box-shadow: 0 0 5px 1px hsl(227, 60%, 78%);
}

.login__input_wrapper:hover .login__input_icon {
    color: hsl(227, 60%, 78%);
}

.login__input {
    border: none;
    padding: .8rem;
    width: 100%;
    background: transparent;
    border-radius: 10px;
}

.login__input:focus {
    outline: none;
}

.login__input_icon {
    margin-left: 1rem;
    color: #707070;
}

.login__button {
    border-radius: 10px;
    border: none;
    width: 100%;

    font-family: inherit;
    font-size: 1rem;
    margin-top: 1.3rem;
    padding: .8rem;

    background-color: hsl(227, 60%, 78%);
    transition: all .2s ease-in-out;
}

.login__button:hover {
    background-color: hsl(227, 60%, 70%);
}

.login__heading{
    margin-bottom: 2rem;
}

.login__forgot_password {
    margin: 0;
    color: #707070;
}